# This workflow will install Python dependencies and run tests with several versions of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7, 3.4, 3.5, 3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install libkrb5-dev
      run: sudo apt-get install libkrb5-dev
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install aws-adfs['test']
    - name: Test with pytest
      run: |
        pytest
